mat-card {
    position: absolute;
    top: 20%;
    left: 22.5%;
    width: 50%
}

p {
    word-wrap: break-word;
}

textarea {
    width: 99%;
    height: 200px;
    resize: none;
    background-color: rgba(0,0,0,.5);
    border: 3px solid transparent;
    border-radius: 4px;
    caret-color: var(--light-green);
    margin-top: 10px;
}

textarea:focus {
    outline: none !important;
}

.transparent {
    background-color: rgba(0,0,0,.5);
}

.green {
    color: var(--light-green);
}