<p style="filter: blur(2px);" class="green">
    {{ background }}
</p>
<mat-card class="transparent">
    <mat-card-title class="green">π memorization tool</mat-card-title>
    <mat-card-content>
        <mat-label class="green">Length of pi: {{input.value.length}}</mat-label>
        <textarea 
            matInput
            type="number"
            (input)="onInput()"
            #input
            [style.color] = "isValid ? 'var(--light-green)' : 'red'"
            placeholder="Start typing pi..."
        ></textarea>
    </mat-card-content> 
    <mat-accordion>
        <mat-expansion-panel (opened)="calculateNextNumbers()" #nextNumbersPanel class="transparent green">
            <mat-expansion-panel-header>
                <mat-panel-title class="green">
                    Reveal next 6 numbers
                </mat-panel-title>
            </mat-expansion-panel-header>
            {{ nextNumbers }}
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>
