/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  --light-green: #49CC13;
  font-family: "Anonymous pro";
}

html {
  overflow-y: hidden;
  background-color: black;
}
