/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  --dark-green: rgb(5, 86, 5);
}

html {
  overflow-y: hidden;
  background-color: black;
}
